.whatsapp {
	background-color: rgb(16, 187, 16);
	width: 50px;
	height:50px;
	border-radius: 50%;
	margin-right: 20px;
	border: 1px solid #fff;
	

	display: flex;
	align-items: center;
	justify-content: center;
}

.ig{
	color: #008cca;
}
.whatsapp:hover {
	cursor: pointer;
	border: 3px solid #fff;

}
.nome_mat{
	font-weight: bold;
}



.logo_main {
  width:150px
}

.icon_services{
  width: 50px;
}

.map-container{
  overflow:hidden;

  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
  

  11. Blog
*********************************/

.blog
{

}
.blog_slider_container
{
	width: 100%;
	height: 487px;
}
.blog_slide
{
	height: 100%;
	background: #0f0a27;
}
.blog_slide .background_image
{
	opacity: 0.33;
}
.blog_content
{
	position: absolute;
	left: 52px;
	bottom: 57px;
	width: calc(100% - 52px);
	padding-right: 30px;
}
.blog_date
{
	width: 116px;
	height: 26px;
	background: #ffa37b;
	text-align: center;
}
.blog_date a
{
	display: block;
	height: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	line-height: 26px;
}
.blog_title
{
	margin-top: 14px;
}
.blog_title a
{
	font-size: 36px;
	font-weight: 600;
	color: #ffffff;
	line-height: 1.2;
}
.blog_title a:hover
{
	color: #ffa37b;
}